<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mycash</title>
</head>

<body>
    <form action="/" method="post">
        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="income">Income</option>
            <option value="spend">Spend</option>
        </select>
        <br>
        <label for="amount">Amount</label>
        <input type="number" name="amount" id="amount">
        <br>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <br>
        <label for="method"></label>
        <select name="method" id="method">
            <option value="cash">Cash</option>
            <option value="deposit">Deposit</option>
        </select>
        <br>
        <button type="submit">Save</button>
    </form>
    <br>
    <ul>
    {% for t in transactions %}
        <li>${{t.amount}} | {{t.date}}</li>
    {% endfor %}
    </ul>
</body>
</html>