{% extends "base.html" %}

{% block content %}
<div class="mt-5">
    <form action="/transactions" method="post" class="mb-5">
        <div class="row mb-4">
            <div class="col form-group">
                <label class="form-label" for="type">Type</label>
                <select class="form-control form-control-lg" name="type" id="type" required>
                    <option id="income" value="income">Income</option>
                    <option id="spend" value="spend">Spend</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="method">Method</label>
                <select class="form-control form-control-lg" name="method" id="method" required>
                    <option value="cash">Cash</option>
                    <option value="deposit">Card</option>
                    <option value="deposit">Transfer</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4">
                <label class="form-label" for="amount">Amount</label>
                <input class="form-control form-control-lg text-center" placeholder="$0.00" type="number"
                    inputmode="numeric" pattern="[0-9]" name="amount" id="amount" required>
            </div>
            <div class="col mb-4">
                <label class="form-label" for="date">Date</label>
                <input class="form-control form-control-lg" type="date" name="date" id="date" required>
            </div>
        </div>
        <div class="mb-4">
            <label class="form-label" for="description">Description</label>
            <input class="form-control form-control-lg" type="text" id="description" name="description">
        </div>
        <div class="d-grid">
            <button class="btn btn-secondary btn-lg" type="submit">Save</button>
        </div>
    </form>
    <div name="detail" id="detail">
        <p class="mt-4">
            <span class="me-2">
                <label for="month">Month:</label>
                <select style="text-transform: capitalize;" name="month" id="month">
                    {% for m in months %}
                    <option id="i" value="{{m.id}}">{{m.name}}</option>
                    {% endfor %}
                </select>
            </span>
            <span>
                <label for="year">Year:</label>
                <select name="year" id="year">
                    {% for y in years %}
                    <option value="">{{y}}</option>
                    {% endfor %}
                </select>
            </span>
        </p>
        <p class="mt-4">
            <span class="me-3">INCOME <span class="text-success">${{total_income}}</span></span>
            <span class="me-3 text-secondary">|</span>
            <span class="me-5">SPEND <span class="text-danger">${{total_spend}}</span></span>
        </p>
        <ul class="list-group">
            {% for i in transactions %}
            <li class="list-group-item">
                <span class="text-secondary me-1">{{i.date}}</span>
                <div class="d-flex justify-content-between">
                    <span class="text-uppercase me-5">{{i.description}}</span>
                    <span {% if i.type=="spend" %} class="text-danger" {% endif %}>${{i.amount}}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}