{% extends "base.html" %}

{% block content %}
  <form action="/login" class="mt-5" method="POST">
    <h2 class="mb-4">Login</h2>
    <div class="mb-4">
      <label class="form-label" for="username">Username</label>
      <input class="form-control form-control-lg" id="username" name="username" type="text" required>
    </div>
    <div class="mb-4">
      <label class="form-label" for="passwd">Password</label>
      <input class="form-control form-control-lg" id="passwd" name="passwd" type="password" required>
    </div>
    <div class="d-grid">
      <button class="btn btn-secondary btn-lg">Login</button>
    </div>
  </form>
{% endblock %}