{% extends "base.html" %}

{% block content %}
<nav class="mt-4" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<form class="mt-5" method="post">
  <div class="row mb-4">
    <div class="col form-group">
      <label class="form-label" for="type">Type</label>
      <select class="form-control form-control-lg" name="type" id="type" value="{{g.type}}" required>
        <option id="income" value="income">Income</option>
        <option id="spend" value="spend">Spend</option>
      </select>
    </div>
    <div class="col">
      <label class="form-label" for="method">Method</label>
      <select class="form-control form-control-lg" name="method" id="method" value="{{g.method}}" required>
        <option value="cash">Cash</option>
        <option value="deposit">Card</option>
        <option value="deposit">Transfer</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <label class="form-label" for="amount">Amount</label>
      <input class="form-control form-control-lg text-center" placeholder="$0.00" type="text" inputmode="numeric"
      name="amount" id="amount" value="{{g.amount}}" required>
    </div>
    <div class="col mb-4">
      <label class="form-label" for="date">Date</label>
      <input class="form-control form-control-lg" type="date" name="date" id="date" value="{{g.date}}" required>
    </div>
  </div>
  <div class="mb-4">
    <label class="form-label" for="description">Description</label>
    <input class="form-control form-control-lg" id="description" name="description" type="text" value="{{g.description}}">
  </div>
  <div class="d-grid">
    <!-- TODO: Warning prompt before deleting resource-->
    <button class="btn btn-outline-danger btn-lg mb-3" formaction="/{{g.id}}/delete" name="delete" value="delete">Delete</button>
    <button class="btn btn-secondary btn-lg" name="update" value="update" type="submit">Save</button>
  </div>
</form>
{% endblock %}